2016/11/28 13:17:27--root/IsMobileSearchRedirect=False
2016/11/28 13:17:27--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 13:17:27--root/WriteSafeHost=False
2016/11/28 13:17:27--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 13:28:28--root/IsMobileSearchRedirect=False
2016/11/28 13:28:28--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 13:28:28--root/WriteSafeHost=False
2016/11/28 13:28:28--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 14:03:00--root/IsMobileSearchRedirect=False
2016/11/28 14:03:00--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 14:03:00--root/WriteSafeHost=False
2016/11/28 14:03:00--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 14:23:35--root/IsMobileSearchRedirect=False
2016/11/28 14:23:35--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 14:23:35--root/WriteSafeHost=False
2016/11/28 14:23:35--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 14:38:01--root/IsMobileSearchRedirect=False
2016/11/28 14:38:01--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 14:38:01--root/WriteSafeHost=False
2016/11/28 14:38:01--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 15:26:11--root/IsMobileSearchRedirect=False
2016/11/28 15:26:11--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 15:26:11--root/WriteSafeHost=False
2016/11/28 15:26:11--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 17:00:21--root/IsMobileSearchRedirect=False
2016/11/28 17:00:21--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 17:00:21--root/WriteSafeHost=False
2016/11/28 17:00:21--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 17:15:19--root/IsMobileSearchRedirect=False
2016/11/28 17:15:19--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/28 17:15:19--root/WriteSafeHost=False
2016/11/28 17:15:19--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
