2016/6/7 12:46:04--root/IsXiaomishuSite=False
2016/6/7 12:46:04--root/IsMobileSearchRedirect=False
2016/6/7 12:46:04--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 12:46:04--root/WriteSafeHost=False
2016/6/7 12:46:04--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 13:39:18--root/IsXiaomishuSite=False
2016/6/7 13:39:18--root/IsMobileSearchRedirect=False
2016/6/7 13:39:18--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 13:39:18--root/WriteSafeHost=False
2016/6/7 13:39:18--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 14:30:05--root/IsXiaomishuSite=False
2016/6/7 14:30:05--root/IsMobileSearchRedirect=False
2016/6/7 14:30:05--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 14:30:05--root/WriteSafeHost=False
2016/6/7 14:30:05--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 15:51:56--root/IsXiaomishuSite=False
2016/6/7 15:51:56--root/IsMobileSearchRedirect=False
2016/6/7 15:51:56--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 15:51:56--root/WriteSafeHost=False
2016/6/7 15:51:56--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 16:29:20--root/IsXiaomishuSite=False
2016/6/7 16:29:20--root/IsMobileSearchRedirect=False
2016/6/7 16:29:20--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 16:29:20--root/WriteSafeHost=False
2016/6/7 16:29:20--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 17:18:29--root/IsXiaomishuSite=False
2016/6/7 17:18:29--root/IsMobileSearchRedirect=False
2016/6/7 17:18:30--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/7 17:18:30--root/WriteSafeHost=False
2016/6/7 17:18:30--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
