<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FgSMSServiceUrl" value="http://api.xmsinner.com/smsservice/service.asmx"/>
    <add key="ResourceSiteUrl" value="http://s1.fg114.com"/>
    <add key ="NewResUrl" value="http://192.168.1.138/newres"/>
    <add key ="NoticeUrl" value="http://192.168.1.138/IVRWeb2"/>
    <add key="RTBWebUrl" value="http://192.168.1.138/RTBWeb"/>
    <add key="UploadSiteUrl" value="http://upload.fg114.com"/>
    <add key="StaticUploadUrl" value="http://upload.fg114.com" />
    <add key="DeliveryPicRootKey" value="FreeBookInnerManagerPic"/>
    <add key="VirtulName" value="/CoffeeManagerWeb"/>
    <add key="ConsumeType" value="0_位,1_桌,2_服务费,3_使用费"/>
    <add key="Reg_MobilePhone" value=""/>
    <add key="EnableSMSChargeUserIds" value="51" />
    <add key="EnablePrepaymentChargeUserIds" value="51" />
    <add key="EnableAuditContractUserIds" value="51" />
    <add key="ChangePwdUrl" value="/UserManage/" />
    <add key="Reg_MobilePhone" value="^1\d{10}$"/>
  </appSettings>
</configuration>