<?xml version="1.0" encoding="utf-8" ?>
<root>
  <SearchEngineRobot>
    <Robot>Googlebot</Robot>
    <Robot>bingbot</Robot>
    <Robot>Baiduspider</Robot>
    <Robot>Sogou</Robot>
    <Robot>Sosospider</Robot>
    <Robot>YoudaoBot</Robot>
  </SearchEngineRobot>
  <WriteSafeHost>false</WriteSafeHost>
  <CookieDayLength>30</CookieDayLength>
  <CrntHost>dcxms.com</CrntHost>
  <IsForceHostCheck>false</IsForceHostCheck>
  <IsXiaomishuSite>false</IsXiaomishuSite>
</root>