<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" requirePermission="false"/>
    <section name="wcfServices" type="XMS.Core.WCF.Client.Configuration.ServiceReferencesSection,  XMS.Core" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="AppName"  value="XMS.Portal.FreeBookWeb"/>
    <add key="AppVersion" value="1.0"/>
    <add key="FilePath" value="http://192.168.1.30:9114/"/>
    <add key="StaticUploadUrl" value="http://192.168.1.30:9114" />
    <add key ="PageAuthorityService" value="http://192.168.1.30/UserService/PageAuthority.asmx"/>
    <add key="UserServiceUrl" value="http://api.xmsinner.com/userservice/Users.asmx" />
    <add key="InnerUserUrl" value="http://api.xmsinner.com/userservice/InnerUser.asmx" />
    <add key="CSharpUsersUrl" value="http://api.xmsinner.com/UserService/CSharpUsers.asmx" />
    <add key="DomainName" value="waimaitest.buzztimecoffee.com"/>
  </appSettings>
  <location path="." allowOverride="false" inheritInChildApplications="false">
    <system.web>
      <httpRuntime  requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;" executionTimeout="300" maxRequestLength="10240000"/>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off" defaultRedirect="/oops.aspx">
        <error statusCode="404" redirect="/oops.aspx"></error>
      </customErrors>
      <authentication mode="Forms"/>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
    <castle>
      <include uri="assembly://XMS.Core/container.core.config"/>
    </castle>
    <wcfServices>
      <add serviceName="CoffeeService" serviceType="XMS.Inner.Coffee.Service.ICoffeeService, WCF.Coffee.Proxy" />
    </wcfServices>
  </location>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"></requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Cache-Control" value="must-revalidate,no-cache" />
        <add name="Pragma" value="no-cache" />-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
