2016/5/31 14:08:58--root/IsXiaomishuSite=False
2016/5/31 14:08:58--root/IsMobileSearchRedirect=False
2016/5/31 14:08:58--node=root/MigrationConfig/Rules
2016/5/31 14:08:58-- LookFor~/(.+)\.aspx
2016/5/31 14:08:58-- SendTo~/oops/
2016/5/31 14:08:58--root/WriteSafeHost=False
2016/5/31 14:08:58--node=root/RewriterConfig/Rules
2016/5/31 14:08:59-- LookFor~/
2016/5/31 14:08:59-- SendTo~/OrderList.aspx
2016/5/31 14:08:59-- LookFor~/(.*/)?([^/]+?)
2016/5/31 14:08:59-- SendTo~/$1$2.aspx
2016/5/31 14:38:11--root/IsXiaomishuSite=False
2016/5/31 14:38:11--root/IsMobileSearchRedirect=False
2016/5/31 14:38:11--node=root/MigrationConfig/Rules
2016/5/31 14:38:11-- LookFor~/(.+)\.aspx
2016/5/31 14:38:11-- SendTo~/oops/
2016/5/31 14:38:11--root/WriteSafeHost=False
2016/5/31 14:38:11--node=root/RewriterConfig/Rules
2016/5/31 14:38:11-- LookFor~/
2016/5/31 14:38:11-- SendTo~/OrderList.aspx
2016/5/31 14:38:11-- LookFor~/(.*/)?([^/]+?)
2016/5/31 14:38:11-- SendTo~/$1$2.aspx
2016/5/31 14:46:04--root/IsXiaomishuSite=False
2016/5/31 14:46:04--root/IsMobileSearchRedirect=False
2016/5/31 14:46:04--node=root/MigrationConfig/Rules
2016/5/31 14:46:04-- LookFor~/(.+)\.aspx
2016/5/31 14:46:04-- SendTo~/oops/
2016/5/31 14:46:04--root/WriteSafeHost=False
2016/5/31 14:46:04--node=root/RewriterConfig/Rules
2016/5/31 14:46:04-- LookFor~/
2016/5/31 14:46:04-- SendTo~/OrderList.aspx
2016/5/31 14:46:04-- LookFor~/(.*/)?([^/]+?)
2016/5/31 14:46:04-- SendTo~/$1$2.aspx
2016/5/31 14:51:54--root/IsXiaomishuSite=False
2016/5/31 14:51:54--root/IsMobileSearchRedirect=False
2016/5/31 14:51:54--node=root/MigrationConfig/Rules
2016/5/31 14:51:54-- LookFor~/(.+)\.aspx
2016/5/31 14:51:54-- SendTo~/oops/
2016/5/31 14:51:54--root/WriteSafeHost=False
2016/5/31 14:51:54--node=root/RewriterConfig/Rules
2016/5/31 14:51:54-- LookFor~/
2016/5/31 14:51:54-- SendTo~/OrderList.aspx
2016/5/31 14:51:54-- LookFor~/(.*/)?([^/]+?)
2016/5/31 14:51:54-- SendTo~/$1$2.aspx
2016/5/31 15:02:14--root/IsXiaomishuSite=False
2016/5/31 15:02:14--root/IsMobileSearchRedirect=False
2016/5/31 15:02:14--node=root/MigrationConfig/Rules
2016/5/31 15:02:14-- LookFor~/(.+)\.aspx
2016/5/31 15:02:14-- SendTo~/oops/
2016/5/31 15:02:14--root/WriteSafeHost=False
2016/5/31 15:02:14--node=root/RewriterConfig/Rules
2016/5/31 15:02:14-- LookFor~/
2016/5/31 15:02:14-- SendTo~/OrderList.aspx
2016/5/31 15:02:14-- LookFor~/(.*/)?([^/]+?)
2016/5/31 15:02:14-- SendTo~/$1$2.aspx
2016/5/31 15:06:50--root/IsXiaomishuSite=False
2016/5/31 15:06:50--root/IsMobileSearchRedirect=False
2016/5/31 15:06:50--node=root/MigrationConfig/Rules
2016/5/31 15:06:50-- LookFor~/(.+)\.aspx
2016/5/31 15:06:50-- SendTo~/oops/
2016/5/31 15:06:50--root/WriteSafeHost=False
2016/5/31 15:06:50--node=root/RewriterConfig/Rules
2016/5/31 15:06:50-- LookFor~/
2016/5/31 15:06:50-- SendTo~/OrderList.aspx
2016/5/31 15:06:50-- LookFor~/(.*/)?([^/]+?)
2016/5/31 15:06:50-- SendTo~/$1$2.aspx
2016/5/31 15:18:42--root/IsXiaomishuSite=False
2016/5/31 15:18:42--root/IsMobileSearchRedirect=False
2016/5/31 15:18:42--node=root/MigrationConfig/Rules
2016/5/31 15:18:42-- LookFor~/(.+)\.aspx
2016/5/31 15:18:42-- SendTo~/oops/
2016/5/31 15:18:42--root/WriteSafeHost=False
2016/5/31 15:18:42--node=root/RewriterConfig/Rules
2016/5/31 15:18:42-- LookFor~/
2016/5/31 15:18:42-- SendTo~/OrderList.aspx
2016/5/31 15:18:42-- LookFor~/(.*/)?([^/]+?)
2016/5/31 15:18:42-- SendTo~/$1$2.aspx
2016/5/31 15:27:13--root/IsXiaomishuSite=False
2016/5/31 15:27:13--root/IsMobileSearchRedirect=False
2016/5/31 15:27:13--node=root/MigrationConfig/Rules
2016/5/31 15:27:13-- LookFor~/(.+)\.aspx
2016/5/31 15:27:13-- SendTo~/oops/
2016/5/31 15:27:13--root/WriteSafeHost=False
2016/5/31 15:27:13--node=root/RewriterConfig/Rules
2016/5/31 15:27:13-- LookFor~/
2016/5/31 15:27:13-- SendTo~/OrderList.aspx
2016/5/31 15:27:13-- LookFor~/(.*/)?([^/]+?)
2016/5/31 15:27:13-- SendTo~/$1$2.aspx
2016/5/31 16:44:43--root/IsXiaomishuSite=False
2016/5/31 16:44:43--root/IsMobileSearchRedirect=False
2016/5/31 16:44:43--node=root/MigrationConfig/Rules
2016/5/31 16:44:43-- LookFor~/(.+)\.aspx
2016/5/31 16:44:43-- SendTo~/oops/
2016/5/31 16:44:43--root/WriteSafeHost=False
2016/5/31 16:44:43--node=root/RewriterConfig/Rules
2016/5/31 16:44:43-- LookFor~/
2016/5/31 16:44:43-- SendTo~/OrderList.aspx
2016/5/31 16:44:43-- LookFor~/(.*/)?([^/]+?)
2016/5/31 16:44:43-- SendTo~/$1$2.aspx
2016/5/31 17:10:03--root/IsXiaomishuSite=False
2016/5/31 17:10:03--root/IsMobileSearchRedirect=False
2016/5/31 17:10:03--node=root/MigrationConfig/Rules
2016/5/31 17:10:03-- LookFor~/(.+)\.aspx
2016/5/31 17:10:03-- SendTo~/oops/
2016/5/31 17:10:03--root/WriteSafeHost=False
2016/5/31 17:10:03--node=root/RewriterConfig/Rules
2016/5/31 17:10:03-- LookFor~/
2016/5/31 17:10:03-- SendTo~/OrderList.aspx
2016/5/31 17:10:03-- LookFor~/(.*/)?([^/]+?)
2016/5/31 17:10:03-- SendTo~/$1$2.aspx
2016/5/31 17:16:26--root/IsXiaomishuSite=False
2016/5/31 17:16:26--root/IsMobileSearchRedirect=False
2016/5/31 17:16:26--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:16:26--root/WriteSafeHost=False
2016/5/31 17:16:26--node=root/RewriterConfig/Rules
2016/5/31 17:16:26-- LookFor~/
2016/5/31 17:16:26-- SendTo~/OrderList.aspx
2016/5/31 17:16:26-- LookFor~/(.*/)?([^/]+?)
2016/5/31 17:16:26-- SendTo~/$1$2.aspx
2016/5/31 17:17:07--root/IsXiaomishuSite=False
2016/5/31 17:17:07--root/IsMobileSearchRedirect=False
2016/5/31 17:17:07--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:17:07--root/WriteSafeHost=False
2016/5/31 17:17:07--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:23:10--root/IsXiaomishuSite=False
2016/5/31 17:23:10--root/IsMobileSearchRedirect=False
2016/5/31 17:23:10--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:23:10--root/WriteSafeHost=False
2016/5/31 17:23:10--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:30:54--root/IsXiaomishuSite=False
2016/5/31 17:30:54--root/IsMobileSearchRedirect=False
2016/5/31 17:30:54--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:30:54--root/WriteSafeHost=False
2016/5/31 17:30:54--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:50:22--root/IsXiaomishuSite=False
2016/5/31 17:50:22--root/IsMobileSearchRedirect=False
2016/5/31 17:50:22--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 17:50:22--root/WriteSafeHost=False
2016/5/31 17:50:22--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 18:37:03--root/IsXiaomishuSite=False
2016/5/31 18:37:03--root/IsMobileSearchRedirect=False
2016/5/31 18:37:03--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 18:37:03--root/WriteSafeHost=False
2016/5/31 18:37:03--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 19:27:46--root/IsXiaomishuSite=False
2016/5/31 19:27:46--root/IsMobileSearchRedirect=False
2016/5/31 19:27:47--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 19:27:47--root/WriteSafeHost=False
2016/5/31 19:27:47--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 19:48:21--root/IsXiaomishuSite=False
2016/5/31 19:48:21--root/IsMobileSearchRedirect=False
2016/5/31 19:48:21--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 19:48:21--root/WriteSafeHost=False
2016/5/31 19:48:21--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 20:18:48--root/IsXiaomishuSite=False
2016/5/31 20:18:48--root/IsMobileSearchRedirect=False
2016/5/31 20:18:48--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 20:18:48--root/WriteSafeHost=False
2016/5/31 20:18:48--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 20:56:48--root/IsXiaomishuSite=False
2016/5/31 20:56:48--root/IsMobileSearchRedirect=False
2016/5/31 20:56:48--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/5/31 20:56:48--root/WriteSafeHost=False
2016/5/31 20:56:48--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
