2016/6/1 9:27:17--root/IsXiaomishuSite=False
2016/6/1 9:27:17--root/IsMobileSearchRedirect=False
2016/6/1 9:27:17--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:27:17--root/WriteSafeHost=False
2016/6/1 9:27:17--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:37:27--root/IsXiaomishuSite=False
2016/6/1 9:37:27--root/IsMobileSearchRedirect=False
2016/6/1 9:37:27--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:37:27--root/WriteSafeHost=False
2016/6/1 9:37:27--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:41:22--root/IsXiaomishuSite=False
2016/6/1 9:41:22--root/IsMobileSearchRedirect=False
2016/6/1 9:41:22--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:41:22--root/WriteSafeHost=False
2016/6/1 9:41:22--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:45:51--root/IsXiaomishuSite=False
2016/6/1 9:45:51--root/IsMobileSearchRedirect=False
2016/6/1 9:45:51--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 9:45:51--root/WriteSafeHost=False
2016/6/1 9:45:51--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 10:30:23--root/IsXiaomishuSite=False
2016/6/1 10:30:23--root/IsMobileSearchRedirect=False
2016/6/1 10:30:23--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 10:30:23--root/WriteSafeHost=False
2016/6/1 10:30:23--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 11:32:48--root/IsXiaomishuSite=False
2016/6/1 11:32:48--root/IsMobileSearchRedirect=False
2016/6/1 11:32:48--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 11:32:48--root/WriteSafeHost=False
2016/6/1 11:32:48--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:08:23--root/IsXiaomishuSite=False
2016/6/1 13:08:23--root/IsMobileSearchRedirect=False
2016/6/1 13:08:23--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:08:23--root/WriteSafeHost=False
2016/6/1 13:08:23--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:31:56--root/IsXiaomishuSite=False
2016/6/1 13:31:56--root/IsMobileSearchRedirect=False
2016/6/1 13:31:56--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:31:56--root/WriteSafeHost=False
2016/6/1 13:31:56--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:36:50--root/IsXiaomishuSite=False
2016/6/1 13:36:50--root/IsMobileSearchRedirect=False
2016/6/1 13:36:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:36:50--root/WriteSafeHost=False
2016/6/1 13:36:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:40:40--root/IsXiaomishuSite=False
2016/6/1 13:40:40--root/IsMobileSearchRedirect=False
2016/6/1 13:40:40--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 13:40:40--root/WriteSafeHost=False
2016/6/1 13:40:40--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 14:18:03--root/IsXiaomishuSite=False
2016/6/1 14:18:03--root/IsMobileSearchRedirect=False
2016/6/1 14:18:03--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 14:18:03--root/WriteSafeHost=False
2016/6/1 14:18:03--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 15:24:02--root/IsXiaomishuSite=False
2016/6/1 15:24:02--root/IsMobileSearchRedirect=False
2016/6/1 15:24:02--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 15:24:02--root/WriteSafeHost=False
2016/6/1 15:24:02--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 16:30:40--root/IsXiaomishuSite=False
2016/6/1 16:30:40--root/IsMobileSearchRedirect=False
2016/6/1 16:30:40--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 16:30:40--root/WriteSafeHost=False
2016/6/1 16:30:40--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 17:45:14--root/IsXiaomishuSite=False
2016/6/1 17:45:14--root/IsMobileSearchRedirect=False
2016/6/1 17:45:14--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 17:45:14--root/WriteSafeHost=False
2016/6/1 17:45:14--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 18:22:50--root/IsXiaomishuSite=False
2016/6/1 18:22:50--root/IsMobileSearchRedirect=False
2016/6/1 18:22:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/1 18:22:50--root/WriteSafeHost=False
2016/6/1 18:22:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
