2016/6/2 11:04:42--root/IsXiaomishuSite=False
2016/6/2 11:04:42--root/IsMobileSearchRedirect=False
2016/6/2 11:04:42--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
2016/6/2 11:04:42--root/WriteSafeHost=False
2016/6/2 11:04:42--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 212
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 263
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 D:\changhao_fg114-PC_1753\changhao_fg114-PC_1753\OuterWorkspace\Common\URLRewriter\RewriterConfig.cs:行号 328
