2016/11/29 14:24:50--root/IsMobileSearchRedirect=False
2016/11/29 14:24:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 14:24:50--root/WriteSafeHost=False
2016/11/29 14:24:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 15:28:54--root/IsMobileSearchRedirect=False
2016/11/29 15:28:54--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 15:28:54--root/WriteSafeHost=False
2016/11/29 15:28:54--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 15:43:32--root/IsMobileSearchRedirect=False
2016/11/29 15:43:32--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 15:43:32--root/WriteSafeHost=False
2016/11/29 15:43:32--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 15:53:36--root/IsMobileSearchRedirect=False
2016/11/29 15:53:36--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 15:53:36--root/WriteSafeHost=False
2016/11/29 15:53:36--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 19:31:25--root/IsMobileSearchRedirect=False
2016/11/29 19:31:25--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 19:31:25--root/WriteSafeHost=False
2016/11/29 19:31:25--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 21:51:16--root/IsMobileSearchRedirect=False
2016/11/29 21:51:16--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 21:51:16--root/WriteSafeHost=False
2016/11/29 21:51:16--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 22:28:25--root/IsMobileSearchRedirect=False
2016/11/29 22:28:25--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 22:28:25--root/WriteSafeHost=False
2016/11/29 22:28:25--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 22:50:44--root/IsMobileSearchRedirect=False
2016/11/29 22:50:44--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 22:50:44--root/WriteSafeHost=False
2016/11/29 22:50:44--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:02:29--root/IsMobileSearchRedirect=False
2016/11/29 23:02:29--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:02:29--root/WriteSafeHost=False
2016/11/29 23:02:29--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:07:56--root/IsMobileSearchRedirect=False
2016/11/29 23:07:56--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:07:56--root/WriteSafeHost=False
2016/11/29 23:07:56--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:09:50--root/IsMobileSearchRedirect=False
2016/11/29 23:09:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:09:50--root/WriteSafeHost=False
2016/11/29 23:09:50--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:16:20--root/IsMobileSearchRedirect=False
2016/11/29 23:16:20--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:16:20--root/WriteSafeHost=False
2016/11/29 23:16:20--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:31:58--root/IsMobileSearchRedirect=False
2016/11/29 23:31:58--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/29 23:31:58--root/WriteSafeHost=False
2016/11/29 23:31:58--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
