2016/11/27 16:14:41--root/IsMobileSearchRedirect=False
2016/11/27 16:14:41--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:14:41--root/WriteSafeHost=False
2016/11/27 16:14:41--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:17:09--root/IsMobileSearchRedirect=False
2016/11/27 16:17:09--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:17:09--root/WriteSafeHost=False
2016/11/27 16:17:09--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:19:53--root/IsMobileSearchRedirect=False
2016/11/27 16:19:53--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:19:53--root/WriteSafeHost=False
2016/11/27 16:19:53--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:31:07--root/IsMobileSearchRedirect=False
2016/11/27 16:31:07--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:31:07--root/WriteSafeHost=False
2016/11/27 16:31:07--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:38:33--root/IsMobileSearchRedirect=False
2016/11/27 16:38:33--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 16:38:33--root/WriteSafeHost=False
2016/11/27 16:38:33--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 17:47:04--root/IsMobileSearchRedirect=False
2016/11/27 17:47:04--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 17:47:04--root/WriteSafeHost=False
2016/11/27 17:47:04--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 17:48:35--root/IsMobileSearchRedirect=False
2016/11/27 17:48:35--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 17:48:35--root/WriteSafeHost=False
2016/11/27 17:48:35--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 17:54:30--root/IsMobileSearchRedirect=False
2016/11/27 17:54:30--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 17:54:30--root/WriteSafeHost=False
2016/11/27 17:54:30--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 20:47:25--root/IsMobileSearchRedirect=False
2016/11/27 20:47:25--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 20:47:25--root/WriteSafeHost=False
2016/11/27 20:47:25--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 20:59:19--root/IsMobileSearchRedirect=False
2016/11/27 20:59:19--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 20:59:19--root/WriteSafeHost=False
2016/11/27 20:59:19--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:03:22--root/IsMobileSearchRedirect=False
2016/11/27 21:03:22--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:03:22--root/WriteSafeHost=False
2016/11/27 21:03:22--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:09:44--root/IsMobileSearchRedirect=False
2016/11/27 21:09:44--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:09:44--root/WriteSafeHost=False
2016/11/27 21:09:44--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:23:04--root/IsMobileSearchRedirect=False
2016/11/27 21:23:04--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:23:04--root/WriteSafeHost=False
2016/11/27 21:23:04--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:34:19--root/IsMobileSearchRedirect=False
2016/11/27 21:34:19--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:34:19--root/WriteSafeHost=False
2016/11/27 21:34:19--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:41:45--root/IsMobileSearchRedirect=False
2016/11/27 21:41:45--读取重写配置出错：System.ArgumentException: cannot find node,node=root/MigrationConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
2016/11/27 21:41:45--root/WriteSafeHost=False
2016/11/27 21:41:45--读取重写配置出错：System.ArgumentException: cannot find node,node=root/RewriterConfig/Rules
   在 URLRewriter.RewriterConfig.GetXMLNodeFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 211
   在 URLRewriter.RewriterConfig.GetRewriteRuleFromConfigFile(String sNodeName, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 262
   在 URLRewriter.RewriterConfig.GetFromCache[T](String sNodeName, T tDefaultvalue, String sFilePath) 位置 E:\项目管理\咖啡\05 代码\AppWapCoffee\URLRewriter\RewriterConfig.cs:行号 327
