<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cacheSettings" type="XMS.Core.Caching.Configuration.CacheSettingsSection, XMS.Core" requirePermission="false" />
    <section name="memcachedClient" type="XMS.Core.Caching.Memcached.CustomMemcachedClientSection, XMS.Core"/>
  </configSections>
  <memcachedClient>
    <servers>
      <!-- put your own server(s) here-->
      <add address="192.168.1.163" port="11211"/>
      <add address="192.168.1.164" port="11211"/>
    </servers>

    <!--- see Enyim.Caching.Configuration.ISocketPoolConfiguration
      minPoolSize:      indicating the minimum amount of sockets per server in the socket pool,                                 default 10;
      maxPoolSize:      indicating the maximum amount of sockets per server in the socket pool,                                 default 20;
      queueTimeout:     specifies the amount of time after which the getting a connection from the pool will fail,              default 00:00:00.100;
      connectionTimeout:specifies the amount of time after which the connection attempt will fail,                              default 00:00:10;
      receiveTimeout:   specifies the amount of time after which receiving data from the socket fails,                          default 00:00:10;
      deadTimeout:      specifies the amount of time after which an unresponsive (dead) server will be checked if it is working,default 00:00:10;
    -->
    <socketPool minPoolSize="8" maxPoolSize="128" queueTimeout="00:00:00.100" connectionTimeout="00:00:01" deadTimeout="00:00:30"/>
    <!-- 
			<authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching" userName="demo" password="demo"/>
    -->
  </memcachedClient>

  <cacheSettings>
    <!-- 本地缓存配置，该配置应用于 XMS.Core.Caching.ICacheService.LocalCache 对象
      localCache 和 region 节点同时支持以下三种属性，如果 region 未配置某属性，则从 localCache 继承：
          asyncUpdateInterval 异步更新间隔，默认值为 00:00:30；
          capacity            缓存项容量，  默认值为 100000；
          dependencyFile      缓存依赖文件或目录，如果配置此项，当依赖文件发生变化时，整个分区的缓存都将被清空， 默认值为 null；
                              dependencyFile 支持相对路径（即相对于当前配置文件路径的路径）；
    -->
    <localCache>
      <regions>
        <region name="URLRewriter" capacity="100000" asyncUpdateInterval="00:00:30" dependencyFile="Rewriter.config"/>
      </regions>
    </localCache>

    <!-- 混合缓存配置，该配置应用于 XMS.Core.Caching.ICacheService 对象
        distributeCache 和 region 节点同时支持以下三种属性，如果 region 未配置某属性，则从 distributeCache 继承：
          position            缓存位置，值为 local、remote、both、inherit 之一，默认为 inherit，最顶级的默认值为 local；
          asyncUpdateInterval 异步更新间隔，默认值为 00:00:30；
          capacity            缓存项容量，  默认值为 100000；
          dependencyFile      缓存依赖文件或目录，如果配置此项，当依赖文件发生变化时，整个分区的缓存都将被清空， 默认值为 null；
                              dependencyFile 支持相对路径（即相对于当前配置文件路径的路径）；
         其中，capacity 和 dependencyFile 仅对本地缓存有效。
    -->
    <distributeCache>
      <enableDistributeCache value="true"/>
      <regions>
        <region name="DeliveryBusiness" position="local" asyncUpdateInterval="00:00:30" capacity="100000" dependencyFile="WebCacheDependencyFile.config"/>
        <region name="WebDomain" position="local" asyncUpdateInterval="00:00:30" capacity="100000" dependencyFile="WebCacheDependencyFile.config"/>
      </regions>
      <distributeCacheProviders>
        <add name="MemcachedCacheProvider" type="XMS.Core.Caching.Memcached.MemcachedDistributeCacheProvider, XMS.Core" section="memcachedClient"/>
      </distributeCacheProviders>

      <defaultDistributeCacheProvider name="MemcachedCacheProvider"/>
    </distributeCache>
  </cacheSettings>
</configuration>